@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
 }

.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
        h1 {
            padding-top: 4rem;
        }
    }

    .logos {
        background-color: #cccccc;
        flex-grow: 1;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        display: flex;
        flex-wrap: nowrap;

        & > * {
            border: 2px solid black;
            border-top: 4px dashed #222222;
            height: 25vw;
            width: 25vw;
            
            @include desktop {
                width: 16.6vw;
                height: 16.6vw;
            }
        }
    }
}