@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
 }

.container {
    h1 {
        padding-top: 1rem;

        @include desktop {
            padding-top: 4rem;
        }
    }

    .categories {
        & > * {
            margin-bottom: 4rem;

            .videos {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                iframe {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: auto;
                    
                    @include desktop {
                        padding: 0rem;
                        width: 33%;
                    }
                }

                @include desktop {
                    flex-direction: row;
                }
            }
        }
    }
}