@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
 }

.container {
    width: 100%;
    height: 200px;
    
    .logos {
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
        }

        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: auto;
    }
}