@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition-timing-function: ease;

    .clientsText {
        font-size: 1.1rem;
        margin: 0rem 0rem 0.7rem 3rem;
    }
}


.slide1 {
    // border: 4px solid #AD7835;
    // background-color: white;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template: 25% 25% 25% 25% / 50% 50%;

    @include desktop {
        grid-template: 50% 50% / 23% 23% 8% 23% 23%;

    }
    
    div {
        position: absolute;

        @include desktop {
            position: inherit;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 55%;
            padding: 0;

            @include desktop {
                width: 100%;
                max-width: 400px;
            }
        }
    }

    * {
        padding: 0.4rem;
    }
}

.slide2 {
    width: 80vw;
    margin: auto auto;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;

    @include desktop {
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    }

    a {
        grid-column-end: span 3;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 55%;
            
            @include desktop {
                width: 66%;
            }
        }
    }

    .pair1 {
        @include desktop {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .pair2 {
        @include desktop {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 5;
            
        }
    }

    .pair3 {
        @include desktop {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 7;
            grid-column-end: 9;
            
        }
    }

    .pair4 {
        @include desktop {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 9;
            grid-column-end: 11;
            
        }        
    }

    .pair5 {
        @include desktop {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 4;
            grid-column-end: 6;
            
        }
    }

    .pair6 {
        @include desktop {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 6;
            grid-column-end: 8;
            
        }
    }

    .last1 {
        grid-column-end: span 2;

        @include desktop {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }

    .last2 {
        grid-column-end: span 2;

        @include desktop {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 5;
            grid-column-end: 7;
        }
    }

    .last3 {
        grid-column-end: span 2;

        @include desktop {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 8;
            grid-column-end: 10;
        }
    }
}

