.container {
    color: white;

    a {
        div {
            display: inline-flex;
            flex-direction: row;
            padding: 0.5rem;
            margin: 0.5rem;

            img {
                height: 4rem;
            }
        }
    }
}