@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #171717;
    color: #eeeeee;
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 0;
}